@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,700;1,500&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --gray--primary: #333333;
    --orange--p: #F2994A;
    --light--gray: #BDBDBD;
    --gray--icon: #4F4F4F;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* only paddings base*/
.recipe--header,
.recipe--image {
    padding: 32px 11px 0 11px;
}

.recipe--image {
    padding-top: 20px;
}



.recipe--image>img {
    width: 100%;
    height: auto;
}


/*design mobile first*/

.recipe--header--content {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.recipe--header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recipe--header h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.recipe--header--content div:nth-child(2)>p {
    width: 320px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}

.recipe--information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information--1,
.information--group {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5.5px;
}

.information--1 .material-symbols-outlined,
.information--group .material-symbols-outlined {
    font-size: 14px !important;
}

.information--1 .material-symbols-outlined {
    color: var(--orange--p);
}

.information--group .material-symbols-outlined {
    color: var(--gray--icon);
}

.information--1 div:nth-child(2) p:nth-child(1),
.information--group div:nth-child(2) p:nth-child(1) {
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: var(--light--gray);
}

.information--1 div:nth-child(2) p:nth-child(2),
.information--group div:nth-child(2) p:nth-child(2) {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: var(--orange--p);
}

.information--group div:nth-child(2) p:nth-child(2) {
    color: var(--gray--primary);
}

.information--2 {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.recipe--ingredients {

    display: flex;
    flex-direction: column;
    gap: 13px;
}

.recipe--ingredients h3 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--gray--primary);
}

.r--ingredients--1,
.r--ingredients--2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.r--ingredients--1>strong,
.r--ingredients--2>strong {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.list--ingredients {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list--item {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.list--item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--gray--primary);
}

.check {
    width: 21px;
    height: 21px;
    border: solid 1px var(#828282);
    border-radius: 4px;
}

.r--ingredients--2 {
    margin-top: 22px;
}

.suggest {
    font-style: italic;
}


.recipe--instructions {
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.instructions--list {
    counter-reset: number__item;
    display: flex;
    flex-direction: column;
    gap: 31px;
}



.instructions--item div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.instructions--item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.number--item::before {
    counter-increment: number__item;
    content: counter(number__item);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: white;
    background: #F2994A;
    border-radius: 6px;
}

.recipe--source {

    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    column-rule: var(--light--gray);
}

.recipe--source p {
    width: 352px;
    height: auto;
}

.show {
    display: block;
}

.footer {
    padding: 1em;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #828282;
    text-align: center;
}

.recipe--content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 11px 0 11px;
    margin-top: 24px;
}



@media screen and (min-width: 900px) {
    .recipe--content {
        display: grid;
        grid-template-areas:
            'content a b info'
            'content2 a b info'
            'content3 a b info';
        padding: 0 2em 0 2em;
        margin: 48px 0 93px 0;
        gap: 3em;
    }

    .recipe--header {
        padding: 0 2em 0 2em;
        margin: 52px 0 43px 0;
    }

    .recipe--header h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    }

    .recipe--header--content div:nth-child(2) p {
        width: 592px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .recipe--image {
        padding: 0 2em 0 2em;
    }

    .recipe--information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 216px;
        height: 367px;
        grid-area: info;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        gap: 43px;
    }

    .recipe--information .information--2 {
        flex-direction: column;
        gap: 42px;
    }

    .recipe--ingredients {
        grid-area: content;
    }

    .recipe--instructions {
        grid-area: content2;
    }

    .recipe--source {
        grid-area: content3;
    }

    .information--1 div:nth-child(1) .material-symbols-outlined {
        font-size: 27px !important;
    }

    .information--1 div:nth-child(2) p:nth-child(1),
    .information--2 div:nth-child(2) p:nth-child(1) {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .information--1 div:nth-child(2) p:nth-child(2),
    .information--2 div:nth-child(2) p:nth-child(2) {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .information--2 div:nth-child(1) .material-symbols-outlined {
        font-size: 28px !important;
    }

    .recipe--ingredients h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .r--ingredients--1 strong {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    .list--item p:nth-child(2) {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }

    .instructions--item div:nth-child(2) p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }

    .recipe--source {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }

    .recipe--source p {
        width: 100%;
    }

    .show {
        display: none;
    }

    .footer {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (min-width: 1200px) {
    .recipe--content {
        padding: 0 230px 0 230px;
        margin: 48px 0 93px 0;
        
    }

    .recipe--header {
        padding: 0 230px 0 230px;
        margin: 52px 0 43px 0;
    }

    .recipe--image {
        padding: 0 230px 0 230px;
    }
}

@media screen and (min-width: 1441px) {
    .recipe--content {
        padding: 0 230px 0 230px;
        margin: 48px 0 93px 0;
        grid-template-areas:
            'content info'
            'content2 info'
            'content3 info';
        
    }

    
}


